###############################################################
#          jupyter/jupyterlab extensions/kernels              #
###############################################################
# beakerx (kernels: java, clojure, groovy, scala, kotlin, sql) and dependencies
#beakerx
#py4j

# sos - script of scripts (multiple kernels)
#sos
#sos-notebook

# jupyter/jupyterlab extensions
jupyterlab
jupyter-server-proxy

# vscode for jupyter
numpy
jupyter-vscode-proxy

ipywidgets

paho-mqtt
pandas
influxdb
influxdb3-python